.chief-comments {
  background: #c9e8f2;

  .chief-comments-inner {
    display: flex;
    flex-direction: row;

    @include respond(580px) {
      flex-direction: column;
      align-items: center;
    }

    .block {
      @include flexStart;
      margin-right: 60px;

      @include respond(880px) {
        margin-right: 30px;
      }

      @include respond(580px) {
        order: 2;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
      }

      .text {
        max-width: 920px;
        width: 100%;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        margin-top: 64px;
        margin-bottom: 22px;

        @include respond(880px) {
          max-width: none;
          @include textAdaptive;
          margin: 32px 0 10px;
        }

        @include respond(580px) {
          text-align: center;
          margin-top: 16px;
        }
      }

      .author-name {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-decoration: none;
        margin-bottom: 8px;

        @include respond(880px) {
          margin-bottom: 4px;
        }
      }
      .company {
        width: 115;
        height: 25px;
        margin-bottom: 165px;

        @include respond(880px) {
          width: 70px;
          height: 15px;
          margin-bottom: 70px;
        }

        @include respond(580px) {
          margin-bottom: 30px;
        }
      }
    }

    .author-img {
      width: 310px;
      height: 310px;
      margin-top: 54px;
      margin-bottom: 105px;

      @include respond(880px) {
        width: 200px;
        height: 200px;
        margin: 27px 0 52px;
      }

      @include respond(580px) {
        order: 1;
        margin-bottom: 15px;
      }
    }
  }
}
