.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $color-black;
    padding: 48px 76px 42px 0;

    @include respond(880px) {
      padding: 24px 38px 20px 0;
    }

    @include respond(660px) {
      padding: 24px 0px 20px 0;
    }

    @include respond(450px) {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }

    &__logo {
      height: 21px;
      margin-right: 14px;

      @include respond(880px) {
        height: 15px;
        margin-right: 8px;
      }
    }

    &__text {
      max-width: 300px;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;

      @include respond(880px) {
        margin-right: 10px;
      }
    }

    &__block {
      display: flex;
    }

    &__block-copyright {
      display: flex;
      flex-direction: column;

      @include respond(450px) {
        margin-top: 20px;
      }

      &__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
    }
  }
}
