.header {
  padding: 25px 0;
  border-bottom: 1px solid #ccc;

  .btn {
    @include respond(880px) {
      display: none;
    }
  }
}

.header .container {
  padding: 0 50px;

  @include respond(1220px) {
    padding: 0 20px;
  }
}

.header .header-inner {
  display: flex;
  align-items: center;
}

.header .logo {
  width: 130px;
  height: 20px;
  object-fit: contain;
  margin-right: 50px;

  @include respond(980px) {
    margin-right: 20px;
  }

  @include respond(880px) {
    width: 100px;
  }
}

.header .navigation {
  display: flex;
  margin-right: auto;

  @include respond(880px) {
    margin: 0 0 0 auto;
  }

  @include respond(580px) {
    display: none;
  }
}

.header .navigation li {
  margin-right: 50px;

  @include respond(1330px) {
    margin-right: 20px;
  }
}

.header .navigation li:last-child {
  margin-right: 0;
}

.header .navigation li a {
  color: $color-black;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
