.projects {
  padding: 90px 0 150px 0;
}

.projects .projects-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 250px;
}

.projects .item:nth-child(even) .block {
  order: 2;
  margin-right: 0;
}

.projects .item:nth-child(even) .image {
  order: 1;
}

.projects .item:last-child {
  margin-bottom: 0;
}

.projects .item:last-child .image {
  max-height: 577px;
}

.projects .item .block {
  max-width: 494px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.projects .projects-inner .title {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.projects .projects-inner .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}

.projects .projects-inner .link {
  color: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.projects .item .link:hover {
  color: #ff6336;
}

.projects .item .image {
  max-width: 632px;
  max-height: 632px;
  object-fit: contain;
}
