.rating {
  background: #dabc98;
  padding: 80px 0;

  @media screen and (max-width: 1380px) {
    display: none;
  }

  .rating-inner {
    display: flex;

    .block {
      display: flex;
      align-items: center;
      max-width: 810px;
      width: 100%;
      border-right: 1px solid black;

      .title {
        font-size: 35px;
        font-weight: 600;
        line-height: 50px;
        margin-left: 46px;
      }
    }

    .list-rating {
      display: flex;
      align-items: center;

      .rating-item {
        @include flexStart;
        margin-left: 70px;

        &-logo {
          height: 36px;
        }

        .stars {
          margin-top: 20px;
          margin-bottom: 14px;
        }

        &-text {
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 0.75px;
        }
      }
    }
  }
}
