.team {
  padding: 120px 0 68px 0;

  @include respond(880px) {
    padding: 60px 0 38px 0;
  }
}

.team .team-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .team-inner .title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  max-width: 1288px;
  width: 100%;
  margin-bottom: 25px;

  @include respond(880px) {
    @include titleAdaptive;
    margin-bottom: 15px;
  }

  @include respond(580px) {
    @include titleAdaptive-reduce;
  }
}

.team .team-inner .block {
  display: flex;
  flex-direction: row;
  padding-bottom: 120px;

  @include respond(880px) {
    padding-bottom: 20px;
    justify-content: center;
  }

  @include respond(580px) {
    flex-direction: column;
    align-items: center;
  }
}

.team .team-inner .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% / 3);
  margin-right: 30px;

  @include respond(580px) {
    width: 50%;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  &:last-child {
    margin-right: 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    height: 300px;

    @include respond(580px) {
      height: 200px;
      margin-bottom: 15px;
    }
  }
}

.team .team-inner .card .card-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;

  @include respond(880px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.team .team-inner .card .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 34px 0 25px 0;

  @include respond(880px) {
    @include textAdaptive;
    margin: 15px 0 10px 0;
  }

  @include respond(580px) {
    text-align: center;
  }
}

.team .team-inner .card .link {
  color: $color-black;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
