.team {
  padding: 120px 0 68px 0;

  @media screen and (max-width: 1380px) {
    display: none;
  }
}

.team .team-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .team-inner .title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  max-width: 1288px;
  width: 100%;
  margin-bottom: 25px;
}

.team .team-inner .block {
  display: flex;
  flex-direction: row;
  padding-bottom: 120px;
}

.team .team-inner .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% / 3);
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    height: 300px;
  }
}

.team .team-inner .card .card-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.team .team-inner .card .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 34px 0 25px 0;
}

.team .team-inner .card .link {
  color: $color-black;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
