* {
  box-sizing: border-box;
}

html {
  font-family: "GraphikLCG", sans-serif;
}

span {
  text-decoration: underline;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 55px;

  @media screen and (max-width: 1220px) {
    padding: 0 24px;
  }
}

.p-lr-20 {
  padding: 0 20px;
}
