@font-face {
  font-family: "GraphikLCG";
  font-weight: 400;
  src: url(/fonts/GraphikLCG-Regular.ttf);
}

@font-face {
  font-family: "GraphikLCG";
  font-weight: 600;
  src: url(/fonts/GraphikLCG-Semibold.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.ttf);
}
